body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#0b0b0b;
    color:white;
    text-align:center;
}

header{
    padding:30px 20px;
    background:#1a1a1a;
    border-bottom:3px solid gold;
}

.logo{
    width:180px;
    max-width:90%;
    height:auto;
    display:block;
    margin:0 auto 20px;
}

h1{
    color:gold;
    margin:10px 0;
}

.tagline{
    color:#8B1E3F;
    font-size:20px;
    font-weight:bold;
}

nav{
    margin-top:25px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:gold;
}

.hero{
    padding:60px 20px;
}

.hero h2{
    color:gold;
}

.button{
    display:inline-block;
    background:gold;
    color:black;
    padding:14px 28px;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    margin-top:20px;
}

.button:hover{
    background:#8B1E3F;
    color:white;
}

.collections{
    padding:50px 20px;
}

.card{
    background:#1f1f1f;
    border:2px solid #8B1E3F;
    border-radius:12px;
    padding:20px;
    margin:15px auto;
    max-width:350px;
    color:white;
    font-size:20px;
}

footer{
    margin-top:40px;
    padding:20px;
    border-top:2px solid gold;
    color:#cccccc;
   }
